<footer>
    <p>
      © 2021 Hari Rana / TheEvilSkeleton and {% include hyperlink.html url="https://gitlab.com/TheEvilSkeleton/theevilskeleton.gitlab.io/-/graphs/main" title="contributors" %}
    </p>
    <p>
      <span class="copyleft" aria-label="Copyleft">©</span> Website {% include hyperlink.html url="https://gitlab.com/TheEvilSkeleton/theevilskeleton.gitlab.io" title="code" %} under {% include hyperlink.html url="https://www.gnu.org/licenses/agpl-3.0.en.html" title="AGPL-3.0-only" %} · Website content under {% include hyperlink.html url="https://creativecommons.org/licenses/by-sa/4.0" title="CC-BY-SA-4.0" %}
    </p>
    <p>
      Website powered by {% include hyperlink.html url="https://jekyllrb.com" title="Jekyll" %} · Hosted on {% include hyperlink.html url="https://about.gitlab.com/stages-devops-lifecycle/pages" title="GitLab Pages" %}
    </p>
</footer>
