<nav>
  <div class="header-elements">
    <a href="#main" class="main-content" tabindex="0">Skip to Main Content</a>
    <div class="header-left">
      <a href="/">{{ site.title }}</a>
    </div>
    <div class="header-right">
      {% for pages in site.navigation_links %}
        {% for _page in pages %}
          {% assign page_path = page.url | remove: ".html" %}
          {% if _page[1] == page_path %}
            <a href="{{ _page[1] }}" class="active">{{ _page[0] }}</a>
          {% else %}
            <a href="{{ _page[1] }}">{{ _page[0] }}</a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</nav>
