{% if include.caption != nil %}
<figure>
{% else %}
<figure aria-hidden="true">
{% endif %}
  <img src="{{ include.url }}"
    alt=""/>
  <figcaption>{{ include.caption | markdownify }}</figcaption>
</figure>
