{% for row in include.rows %}
  <div class="presentation">
    <div>
      <center><img src="{{ row.image }}" alt=""/></center>
    </div>
    <div>
      <h2>{{ row.title }}</h2>
      <p>{{ row.description }}</p>
    </div>
  </div>
{% endfor %}
