---
layout: base
---

<main id="main">
  <article>
    <header>
      <h1>{{ page.title }}</h1>
    </header>

    {% if page.trigger or page.disclaimer %}
      <div class="statement-container">
      {% if page.trigger %}
        <div class="trigger">
          <strong class="big">Content Warning</strong>
          {{ page.trigger | markdownify }}
        </div>
      {% endif %}

      {% if page.disclaimer %}
        <div class="disclaimer">
          <strong class="big">Disclaimer(s)</strong>
          {{ page.disclaimer | markdownify }}
        </div>
      {% endif %}
      </div>
    {% endif %}

    <section class="toc">
      {% if page.toc == true %}
        <strong class="big">Table of Contents</strong>
      {% toc %}
      {% endif %}
    </section>

    {{ content }}
  </article>
</main>
