.post {
  padding: 25px;
  font-size: smaller;

  h3 {
    font-size: large;
  }
}

.latest-post {
  background-color: var(--header-bg-color);
  border-radius: 10px;
  box-shadow: 0 10px 20px -15px var(--shadow-color);
}