footer {
  overflow: hidden;
  background-color: var(--header-bg-color);
  border-radius: 10px;
  margin-top: auto;
  text-align: center;
  font-size: small;
  grid-column: full-width;

  p {
    filter: brightness(75%);
  }
}
